.iOS {
    @--screen-width: 320px;
    @--screen-height: 568px;
    @--physical-dimSide: 10px;
    @--physical-dimTop: 50px;
    @--physical-dimBottom: 50px;
    @--physical-radius: 20px;
    @--status-height: 20px;

    // Display silhouette device for larger screens
    @media @--over-md-view {
        margin: 10px auto;
        padding: @--physical-dimTop @--physical-dimSide @--physical-dimBottom;
        background: rgba( 0, 0, 0, .3 );
        border-radius: @--physical-radius;
        width: @--screen-width + ( @--physical-dimSide * 2 );
        height: @--screen-height + @--physical-dimTop + @--physical-dimBottom;
        box-sizing: border-box;
    }

    .iOS-screen {
        position: relative;
        background: @--color-white;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: @--screen-width;
        height: @--screen-height;

        @media @--md-view {
            width: 100vw;
            height: 100vh;
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
        }
    }

    .iOS-StatusBar {
        height: @--status-height;
        font-family: @--font-iOS;
        font-size: 13px;
        font-weight: 500;
    }

    .iOS-mainView {
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        flex: 1;
    }

}
